/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) and (max-width : 1223px) {
    
    *{
    margin: 0;
    padding: 0;
    }
    body{
        background-color: #fff;
    }
    
    .links_up{
        padding: 15px 0;
        background-color: #f5f5f5;
    }
    header{
        background-color: #fff;
        padding: 30px 0;
    }
    
    
    #slider{
        background-color: #3c67de;
        height: 536px;
        
    }
    #quicklinks{
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        text-align: center;
    }
    #caja1{
      padding: 40px 0;
      border-right: 1px solid #e5e5e5;
    }
    #caja2{
        padding: 40px 0;
        border-right: 1px solid #e5e5e5;
    }
    #caja3{
        padding: 40px 0;
        border-right: 1px solid #e5e5e5;
    }
    #caja4{
        padding: 40px 0;
        border-right: 1px solid #e5e5e5;
    }
    #caja5{
        padding: 40px 0;
        border-right: 1px solid #e5e5e5;
    }
    #caja6{
       padding: 40px 0;
        
    }
    #ahorros{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
        text-align: center;
        padding-top: 100px
    }
    #caja7{
       padding: 50px 0;
       border-right: 1px solid #e5e5e5;
        
    }
    #caja8{
       padding: 50px 0;
        
    }
    
    #cesantias{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
        text-align: center;
        padding-top: 100px
    }
    #vivienda{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
        text-align: center;
        padding-top: 100px
    }
    #educacion{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
        text-align: center;
        padding-top: 100px
    }
    #ayuda{
        background: linear-gradient(to right, #3c67de 67.6666666%, #ffffff 67.666666%, #ffffff 100%);
        text-align: center;
    }
    
    #caja9{
        background-color: #3c67de;
        color: white;
        padding: 50px 0;
    
    }
    #caja10{
        background-color: #3c67de;
        padding: 50px 0;
        color: white;
        
    }
    #caja11{
        background-color: #fff;
        padding: 50px 0;
        
    }
    footer{
        text-align: center;
        background-color: #fff;
    }
    #caja12{
        padding: 50px 0;
        border-bottom: 1px solid #e5e5e5;
    }
    
}



