/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1023px) and (orientation : portrait) {
    
    *{
    margin: 0;
    padding: 0;
    }
    body{
        background-color: #fff;
    }
    
    /*---------------------------------------------------------------------*/
    /*------------------------------ HEADER -------------------------------*/
    /*---------------------------------------------------------------------*/
    
    .links_up{
        padding: 15px 0;
        background-color: red;
    }
    header{
        background-color: blue;
        padding: 30px 0;
    }
    
    /*---------------------------------------------------------------------*/
    /*------------------------------ SLIDER -------------------------------*/
    /*---------------------------------------------------------------------*/

    #slider{
        background-color: #3c67de;
        height: 536px;
    }
    #quicklinks{
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        text-align: center;
    }
    
    /*---------------------------------------------------------------------*/
    /*-------------------------- MENU PRINCIPAL ---------------------------*/
    /*---------------------------------------------------------------------*/
    #nav1{
      padding: 40px 0;
      border-right: 1px solid #e5e5e5;
    }
    #nav2{
        padding: 40px 0;
        border-right: 1px solid #e5e5e5;
    }
    #nav3{
        padding: 40px 0;
        border-right: 1px solid #e5e5e5;
    }
    #nav4{
        padding: 40px 0;
        border-right: 1px solid #e5e5e5;
    }
    #nav5{
        padding: 40px 0;
        /*border-right: 1px solid #e5e5e5;*/
    }
    #nav6{
       padding: 40px 0;
        
    }
    /*---------------------------------------------------------------------*/
    /*------------------------- SECCION AHORROS ---------------------------*/
    /*---------------------------------------------------------------------*/
    
    #ahorros{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
    }
    #izq_box{
       padding: 50px 0;
       border-bottom: 1px solid #e5e5e5;
    }
    #der_box{
       padding: 50px 0;
       background-color: #fff;
    }
    /*---------------------------------------------------------------------*/
    /*------------------------- SECCION CESANTIAS -------------------------*/
    /*---------------------------------------------------------------------*/
    
    #cesantias{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
    }
    /*---------------------------------------------------------------------*/
    /*------------------------- SECCION VIVIENDA --------------------------*/
    /*---------------------------------------------------------------------*/
    #vivienda{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
    }
    /*---------------------------------------------------------------------*/
    /*------------------------- SECCION EDUCACION --------------------------*/
    /*---------------------------------------------------------------------*/
    #educacion{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
    }
    #ayuda{
        background: #3c67de;
        text-align: center;
    }
    
    #caja_izq{
        background-color: #3c67de;
        color: white;
        padding: 50px 0;
    }
    #caja_cen{
        background-color: #3c67de;
        padding: 50px 0;
        color: white;
    }
    #caja_der{
        background-color: #fff;
        padding: 50px 0;
    }
    .subcaja{
        border-bottom: 1px solid #e5e5e5;
    }
    .subcaja2{
        background-color: #F7F8FA;
    }
    /*---------------------------------------------------------------------*/
    /*------------------------------ FOOTER -------------------------------*/
    /*---------------------------------------------------------------------*/
    
    
    footer{
        /*text-align: center;*/
        background-color: #fff;
    }
    #caja_bottom{
        /*padding: 50px 0;*/
        /*border-bottom: 1px solid #e5e5e5;*/
    }
}