/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 480px) { 
    
    *{
    margin: 0;
    padding: 0;
    }
    body{
        background-color: #fff;
        /*font-family: Roboto;*/
        /*font: url("../fonts/Roboto-Black.ttf");*/
    }
    
    /*---------------------------------------------------------------------*/
    /*-------------------------- SourceSansPro ----------------------------*/
    /*---------------------------------------------------------------------*/
    
    @font-face {
        font-family: SourceSansProRegular;
        src: url('fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
    }
    @font-face {
        font-family: SourceSansProBold;
        src: url('fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
        font-weight: bold;
    }
    @font-face {
        font-family: SourceSansProSemiBold;
        src: url('fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf');
        /*font-weight: bold;*/
    }
    /*@font-face {*/
    /*    font-family: SourceSansPro;*/
    /*    src: url('../fonts/Source_Sans_Pro/source-sans-pro/SourceSansPro-Italic.otf');*/
    /*    font-style: italic;*/
    /*}*/
    /*@font-face {*/
    /*    font-family: SourceSansPro;*/
    /*    src: url('../fonts/Source_Sans_Pro/source-sans-pro/SourceSansPro-BoldItalic.otf');*/
    /*    font-weight: bold;*/
    /*    font-style: italic;*/
    /*}*/
    /*@font-face {*/
    /*    font-family: SourceSansPro;*/
    /*    src: url('../fonts/Source_Sans_Pro/source-sans-pro/SourceSansPro-Light.otf');*/
    /*    font-weight: 300;*/
    /*}*/
    /*@font-face {*/
    /*    font-family: SourceSansPro;*/
    /*    src: url('../fonts/Source_Sans_Pro/source-sans-pro/SourceSansPro-LightItalic.otf');*/
    /*    font-style: italic;*/
    /*    font-weight: 300;*/
    /*}*/
    
    
    /*---------------------------------------------------------------------*/
    /*------------------------------ HEADER -------------------------------*/
    /*---------------------------------------------------------------------*/
    .links_up{
        padding: 15px 0;
        background-color: #fff;
        right: 0;
        text-align: center;
        width: 100%;
    }
    
    
    
    /* ----- LOGO FNA --- */
    
    .links_up .logo{
        display: inline-block;
        float: left;
        margin-left: 25px;
    }
    
    .links_up .logo_fna{
        width: 55px;
        height: auto;
    }
    
    /* ----- Boton Fondo en Linea ----- */
    
    .links_up .boton_FEL{
        display: inline-block;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .links_up .boton_FEL a{
        text-align: center;
        background-color: #3c67de;
        color: #fff;
        text-decoration: none;
        padding: 12px 10px;
        border-radius: 5px;
        -webkit-transition: all ease 0.2s; 
        -moz-transition: all ease 0.2s;
        -ms-transition: all ease 0.2s;
        -o-transition: all ease 0.2s;
        transition: all ease 0.2s;
        font-family: SourceSansProRegular;
        font-size: 1em;
    }
    .links_up .boton_FEL a:hover{
        color: #fff;
        text-decoration: none;
        background-color: #003685;
    }
    .links_up .boton_FEL a img{
        width: 23px;
        height: 23px;
        margin: 5px 5px 11px 0px;
    }
    .links_up .boton_FEL a span{
        padding-top: 2px;
    }
    
    
    /* --- MENU NAV --- */
    .links_up .menu_nav{
        display: inline-block;
        float: right;
        margin-right: 25px;
        margin-top: 7px;
    }
    .links_up .menu_nav .menu_movil{
        height: 40px;
        width: 40px;
    }
    
    
    /* ------- Header ----- */
    header{
        background-color: #fff;
        /*padding: 30px 0;*/
    }

    /*---------------------------------------------------------------------*/
    /*------------------------------ SLIDER -------------------------------*/
    /*---------------------------------------------------------------------*/
    #slider{
        background-color: #3c67de;
        height: 536px;
        text-align: center;
        overflow: hidden;
    }
    #slider h1{
        color: white;
        font-family: SourceSansProBold;
        font-size: 46px;
        line-height: 1;
        letter-spacing: -2px;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0 30px;
    }
    #slider p{
        color: white;
        font-family: SourceSansProRegular;
        font-size: 18px;
    }
    /*--- Boton CLB ------- */
    #slider .image_slider a{
        text-align: center;
        background-color: #2541A5;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-family: SourceSansProSemiBold;
        font-size: 1.2em;
        bottom: 80px;
        left: 50%;
        margin: 0 0 0 -95px;
        padding: 15px 20px;
        position: absolute;
        z-index: 10;
    }
    #slider .image_slider a:hover{
        color: #fff;
        text-decoration: none;
    }
    #slider .image_slider a span{
        padding-top: 2px;
    }
    /* --- Imagen ---- */
    
    #slider .image_slider .pareja{
        display: block;
        margin-left: -100px;
        margin-right: auto;
        margin-top: 20px;
        max-width: 500px;
    }
    /*---------------------------------------------------------------------*/
    /*-------------------------- MENU PRINCIPAL ---------------------------*/
    /*---------------------------------------------------------------------*/
    #quicklinks{
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        text-align: center;
    }
    #nav1{
      padding: 10px 0;
      border-right: 1px solid #e5e5e5;
    }
    #nav2{
        padding: 10px 0;
        border-right: 1px solid #e5e5e5;
    }
    #nav3{
        padding: 10px 0;
        border-right: 1px solid #e5e5e5;
    }
    #nav4{
        padding: 10px 0;
        border-right: 1px solid #e5e5e5;
    }
    #nav5{
        padding: 10px 0;
        /*border-right: 1px solid #e5e5e5;*/
    }
    #nav6{
       padding: 40px 0;
        
    }
    .col-xs-5ths,.col-sm-5ths{
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .col-xs-5ths {
        width: 20%;
        float: left;
    }
    #quicklinks .menu_image{
        max-width: 45px;
        margin-bottom: 5px;

    }
    #quicklinks p{
        color: #1d1d1d;
        font-family: SourceSansProRegular;
        font-size: 14px;
        margin: 0;
    }
    
    
    /*---------------------------------------------------------------------*/
    /*------------------------- SECCION AHORROS ---------------------------*/
    /*---------------------------------------------------------------------*/
    
    #ahorros{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
        text-align: center;
        padding-top: 100px
    }
    #izq_box{
       padding: 50px 0;
       border-bottom: 1px solid #e5e5e5;
    }
    #der_box{
       padding: 50px 0;
       background-color: #fff;
    }
    
    
    /*---------------------------------------------------------------------*/
    /*------------------------- SECCION CESANTIAS -------------------------*/
    /*---------------------------------------------------------------------*/
    
    #cesantias{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
        text-align: center;
        padding-top: 100px
    }
    
    
    /*---------------------------------------------------------------------*/
    /*------------------------- SECCION VIVIENDA --------------------------*/
    /*---------------------------------------------------------------------*/
    
    #vivienda{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
        text-align: center;
        padding-top: 100px
    }
    
    
    /*---------------------------------------------------------------------*/
    /*------------------------- SECCION EDUCACION --------------------------*/
    /*---------------------------------------------------------------------*/
    
    #educacion{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
        text-align: center;
        padding-top: 100px
    }
    
    
    /*---------------------------------------------------------------------*/
    /*-------------------------- SECCION AYUDA ----------------------------*/
    /*---------------------------------------------------------------------*/
    
    #ayuda{
        background: #3c67de;
        text-align: center;
    }
    
    #caja_izq{
        background-color: #3c67de;
        color: white;
        padding: 50px 0;
    }
    #caja_cen{
        background-color: #3c67de;
        padding: 50px 0;
        color: white;
    }
    #caja1_der{
        background-color: #fff;
        padding: 50px 0;
    }
    
    .subcaja{
        border-bottom: 1px solid #e5e5e5;
    }
    .subcaja2{
        background-color: #F7F8FA;
    }
    
    /*---------------------------------------------------------------------*/
    /*------------------------------ FOOTER -------------------------------*/
    /*---------------------------------------------------------------------*/
    
    
    footer{
        text-align: center;
        background-color: #fff;
    }
    #caja_bottom{
        padding: 50px 0;
        border-bottom: 1px solid #e5e5e5;
    }
    
}