/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 481px) and (max-width : 767px) and (orientation : landscape) {
    *{
    margin: 0;
    padding: 0;
    }
    body{
        background-color: #fff;
    }
    
    /*---------------------------------------------------------------------*/
    /*-------------------------- SourceSansPro ----------------------------*/
    /*---------------------------------------------------------------------*/
    
    @font-face {
        font-family: SourceSansProRegular;
        src: url('fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
    }
    @font-face {
        font-family: SourceSansProBold;
        src: url('fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
        font-weight: bold;
    }
    @font-face {
        font-family: SourceSansProSemiBold;
        src: url('fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf');
    }
    
    /*---------------------------------------------------------------------*/
    /*------------------------------ HEADER -------------------------------*/
    /*---------------------------------------------------------------------*/
    
    .links_up{
        padding: 15px 0;
        background-color: #fff;
        right: 0;
        text-align: center;
        width: 100%;
    }
    
    /*-- IDIOMA -- */
    
    .links_up .idioma{
        display: none;
    }
    .links_up .search{
        display: none;
    }
    
    /* ----- LOGO FNA --- */
    
    .links_up .logo{
        display: inline-block;
        float: left;
        margin-left: 25px;
    }
    
    .links_up .logo_fna{
        width: 55px;
        height: auto;
    }
    
    /* ----- Boton Fondo en Linea ----- */
    
    .links_up .boton_FEL{
        display: inline-block;
        margin-left: 50%;
        margin-top: 10px;
    }
    
    .links_up .boton_FEL a{
        text-align: center;
        background-color: #3c67de;
        color: #fff;
        text-decoration: none;
        padding: 12px 10px;
        border-radius: 5px;
        -webkit-transition: all ease 0.2s; 
        -moz-transition: all ease 0.2s;
        -ms-transition: all ease 0.2s;
        -o-transition: all ease 0.2s;
        transition: all ease 0.2s;
        font-family: SourceSansProRegular;
        font-size: 1em;
    }
    .links_up .boton_FEL a:hover{
        color: #fff;
        text-decoration: none;
        background-color: #003685;
    }
    .links_up .boton_FEL a img{
        width: 23px;
        height: 23px;
        margin: 5px 5px 11px 0px;
    }
    .links_up .boton_FEL a span{
        padding-top: 2px;
    }
    
    
    /* --- MENU NAV --- */
    .links_up .menu_nav{
        display: inline-block;
        float: right;
        margin-right: 25px;
        margin-top: 7px;
    }
    .links_up .menu_nav .menu_movil{
        height: 40px;
        width: 40px;
    }
    

    /* ------- Header ----- */
    header{
        background-color: #fff;
        padding: 0px;
    }
    
    header .logo{
        display: none;
    }
    header .principal_menu{
        display: none;
    }

    /*---------------------------------------------------------------------*/
    /*------------------------------ SLIDER -------------------------------*/
    /*---------------------------------------------------------------------*/

    #slider{
        background-color: #3c67de;
        height: 536px;
        text-align: center;
        overflow: hidden;
    }
    #slider h1{
        color: white;
        font-family: SourceSansProBold;
        font-size: 80px;
        line-height: 1;
        letter-spacing: -2px;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0 30px;
    }
    #slider p{
        color: white;
        font-family: SourceSansProRegular;
        font-size: 18px;
    }
    /*--- Boton CLB ------- */
   
    #slider .image_slider a{
        text-align: center;
        background-color: #2541A5;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-family: SourceSansProSemiBold;
        font-size: 1.2em;
        bottom: 80px;
        left: 50%;
        margin: 0 0 0 -95px;
        padding: 15px 20px;
        position: absolute;
        z-index: 10;
    }
    #slider .image_slider a:hover{
        color: #fff;
        text-decoration: none;
    }
    #slider .image_slider a span{
        padding-top: 2px;
    }
    /* --- Imagen ---- */
    
    #slider .image_slider .pareja{
        display: block;
        margin-left: 10%;
        margin-right: auto;
        margin-top: 20px;
        max-width: 500px;
    }
    
    /*---------------------------------------------------------------------*/
    /*-------------------------- MENU PRINCIPAL ---------------------------*/
    /*---------------------------------------------------------------------*/
    #quicklinks{
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        text-align: center;
    }
    #nav1{
      padding: 10px 0;
      border-right: 1px solid #e5e5e5;
    }
    #nav1 a:hover{
        text-decoration: none;
    }
    #quicklinks #nav1:hover{
        text-decoration: none;
        background: linear-gradient(0deg, #3c67de 5%, #fff 5%);
    }
    #nav2{
        padding: 10px 0;
        border-right: 1px solid #e5e5e5;
    }
    #nav2 a:hover{
        text-decoration: none;
    }
    #quicklinks #nav2:hover{
        text-decoration: none;
        background: linear-gradient(0deg, #3c67de 5%, #fff 5%);
    }
    #nav3{
        padding: 10px 0;
        border-right: 1px solid #e5e5e5;
    }
    #nav3 a:hover{
        text-decoration: none;
    }
    #quicklinks #nav3:hover{
        text-decoration: none;
        background: linear-gradient(0deg, #3c67de 5%, #fff 5%);
    }
    #nav4{
        padding: 10px 0;
        border-right: 1px solid #e5e5e5;
    }
    #nav4 a:hover{
        text-decoration: none;
    }
    #quicklinks #nav4:hover{
        text-decoration: none;
        background: linear-gradient(0deg, #3c67de 5%, #fff 5%);
    }
    #nav5{
        padding: 10px 0;
    }
    #nav5 a:hover{
        text-decoration: none;
    }
    #quicklinks #nav5:hover{
        text-decoration: none;
        background: linear-gradient(0deg, #3c67de 5%, #fff 5%);
    }
    
    #nav_e_1{
      display:none;
    }
    #nav_e_2{
      display:none;
    }
    #nav_e_3{
      display:none;
    }
    #nav_e_4{
      display:none;
    }
    #nav_e_5{
      display:none;
    }
    #nav_e_6{
      display: none;
    }
    
    #quicklinks .col-xs-5ths,#quicklinks .col-sm-5ths{
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }
    #quicklinks .col-xs-5ths {
        width: 20%;
        float: left;
    }
    #quicklinks .menu_image{
        max-width: 45px;
        margin-bottom: 5px;

    }
    #quicklinks p{
        color: #1d1d1d;
        font-family: SourceSansProRegular;
        font-size: 14px;
        margin: 0;
    }
   .menu-fixed{
        position:fixed;
        z-index:1000;
        background-color:#fff;
        top:0;
        left:0;
        width:100%;
        
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }
    .ir-arriba{
        display:inline-block;
        padding:20px;
        cursor:pointer;
        position:fixed;
        bottom: 20px;
        right: 20px;
        z-index: 10;
    }

    /*---------------------------------------------------------------------*/
    /*------------------------- SECCION AHORROS ---------------------------*/
    /*---------------------------------------------------------------------*/
    #ahorros{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
        padding-top: 0px;
        overflow: hidden;
    }
    #ahorros .container{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    /* ---- CAJA ARRIBA --- */
    #izq_box{
       padding: 100px 0;
       border-bottom: 1px solid #e5e5e5;
    }
    
    /*--- Caja arriba izquierda ---- */
    #izq_box .text_izq{
        position: relative;
        z-index: 2;
        display: inline-block;
        max-width: 50%;
        bottom: 0px;
        left: 20px;
    }
    #izq_box .text_izq .min_text{
        font-size: 14px;
        font-family: SourceSansProRegular;
    }
    #izq_box .text_izq .texto_p{
        color: black;
        font-family: SourceSansProRegular;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
    }
    #izq_box .text_izq .texto_h1{
        color: #3c67de;
        font-family: SourceSansProBold;
        font-size: 80px;
        line-height: 1;
        letter-spacing: -2px;
    }
    #izq_box .text_izq .texto_h2{
        color:  #2541A5;
        font-family: SourceSansProBold;
        font-size: 22px;
        line-height: 1;
        cursor: pointer;
    }
    
    
    /*--- Caja arriba derecha ---- */
    #izq_box .img_der{
        position: absolute;
        display: inline-block;
        width: 50%;
        height: auto;
        bottom: -50px;
        right: -100px;
        overflow: hidden;
    }
    #izq_box .img_der img{
        width: 300px;
        right: 0;
        position: relative;
        
    }
    
    
    
    
    /* --- CAJA ABAJO ---- */
    #der_box{
       padding: 50px 0;
       background-color: #fff;
       position: relative;
    }
    
    #der_box .text_der{
        display: inline-block;
        vertical-align: top;
        z-index: 2;
        margin-left: 20px;
        max-width: 50%;
    }
    
    #der_box .text_der2{
        display: inline-block;
        vertical-align: top;
        margin-top: 50px;
    }
    
    #der_box form{
        /*width: 60%;*/
        position: absolute;
    }
    /* Boton derecha */
    #der_box .left_boton1{
        text-align: center;
        background-color: #3c67de;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-family: SourceSansProBold;
        letter-spacing: 0.5px;
        font-size: 1.2em;
        padding: 15px 40px;
        margin-top: -20px;
        border:none;
        
    }
    #der_box .left_boton{
        text-align: center;
        background-color: #3c67de;
        color: #fff;
        text-decoration: none;
        border-radius: 0px 0px 5px 5px;
        font-family: SourceSansProBold;
        letter-spacing: 0.5px;
        font-size: 1.2em;
        padding: 15px 40px;
        margin-top: -20px;
        border:none;
        
    }
    #der_box .left_boton:hover{
        color: #fff;
        text-decoration: none;
    }
    #der_box .left_boton span{
        padding-top: 2px;
    }
    
    
    
    
    #der_box .text_der .texto_h3{
        color: #1d1d1d;
        font-family: SourceSansProBold;
        font-size: 20px;
        font-weight: normal;
        max-width: 70%;
    }
    
    #der_box .texto_pa{
        color: black;
        font-family: SourceSansProRegular;
        font-size: 16px;
        padding: 20px 0;
        max-width: 70%;
    }
    #der_box .text_der ul li{
        color: #3c67de;
        margin-left: 30px;
    }
    #der_box .texto_pa2{
        color: black;
        font-family: SourceSansProRegular;
        font-weight: normal;
        font-size: 18px;
        cursor: pointer;
    }
    
    #der_box .texto_h2{
        color:  #2541A5;
        font-family: SourceSansProBold;
        font-size: 22px;
        line-height: 1;
        cursor: pointer;
        max-width: 70%;
    }
    
    /*--- Boton Sections ------- */
   
    #der_box .text_der .right_boton{
        display: none;
    }
    #der_box .text_der #right_input{
        display: none;
    }
    #der_box .text_der #right_boton{
        display: none;
    }
    
    
    
    /*---------------------------------------------------------------------*/
    /*------------------------- SECCION CESANTIAS -------------------------*/
    /*---------------------------------------------------------------------*/
    
    #cesantias{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
        overflow: hidden;
    }
    #cesantias .container{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    /*---------------------------------------------------------------------*/
    /*------------------------- SECCION VIVIENDA --------------------------*/
    /*---------------------------------------------------------------------*/
    
    #vivienda{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
        overflow: hidden;
    }
    #vivienda .container{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    #izq_box .text_izq img{
        float: left;
        display: inline-block;
        padding-right: 10px;
        padding-top: 10px;
    }
    #izq_box .text_izq .texto_p2{
        float: left;
        display: inline-block;
        color: #333333;
        font-family: SourceSansProRegular;
        font-weight: bold;
        font-size: 1.4em;
        cursor: pointer;
    }
    
    /*---------------------------------------------------------------------*/
    /*------------------------- SECCION EDUCACION --------------------------*/
    /*---------------------------------------------------------------------*/
    
    #educacion{
        border-bottom: 1px solid #e5e5e5;
        background-color: #F7F8FA;
        overflow: hidden;
    }
    #educacion .container{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    /*--- Input ------- */
    #der_box input{
        margin-bottom: 15px;
    }
    #der_box .input1{
        text-decoration: none;
        border-radius: 5px 5px 0px 0px;
        font-family: SourceSansProRegular;
        letter-spacing: 0.5px;
        font-size: 1.3em;
        padding: 11px 25px;
        margin-right: -5px;
    }
    ::-webkit-input-placeholder {
    	color: #3c67de;
    	/*margin-top:-50px;*/
    	
    }
    ::-moz-placeholder {
    	color: #3c67de;
    	/*margin-top:-50px;*/
    }
    
    /*--- Boton Sections ------- */
   
    #der_box .text_der .boton1{
        text-align: center;
        background-color: #3c67de;
        color: #fff;
        text-decoration: none;
        border-radius: 0px 5px 5px 0px;
        font-family: SourceSansProBold;
        letter-spacing: 0.5px;
        font-size: 1.2em;
        padding: 15px 40px;
        margin-top: 210px;
    }
    #der_box .text_der .boton1:hover{
        color: #fff;
        text-decoration: none;
    }
    #der_box .text_der .boton1 span{
        padding-top: 2px;
    }
    
    
    /*---------------------------------------------------------------------*/
    /*-------------------------- SECCION AYUDA ----------------------------*/
    /*---------------------------------------------------------------------*/
    
    
    #ayuda{
        overflow: hidden;
        background: #3c67de;
    }
    
    #ayuda .container{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    /* ---- CAJA IZQUIERDA ---- */
    #caja_izq{
        background-color: #3c67de;
        color: white;
        padding: 50px 0;
    }
    #caja_izq .texto_h1{
        color: white;
        font-family: SourceSansProBold;
        font-size: 110px;
        line-height: .6;
        letter-spacing: -4px;
        padding-left: 20px;
    }
    
    #caja_izq .texto_p{
        color: white;
        font-family: SourceSansProRegular;
        font-weight: normal;
        font-size: 1.2em;
        margin-top: 30px;
        padding-left: 20px;
    }
    #my_hr{
        display: none;
    }
    hr{
        border-color:rgba(255,255,255,0.1);
        background-color:rgba(255,255,255,0.1);
    }
    
    
    /* ---- CAJA CENTRO ----- */
    #caja_cen{
        background-color: #3c67de;
        padding: 50px 0;
        color: white;
    }
    /*--- Dropdown ------- */
    .dropdown{
        text-align: center;
    }
    
        #caja_cen button{
        text-align: center;
        background-color: #3c67de;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid white;
        font-family: SourceSansProRegular;
        letter-spacing: 0.5px;
        font-size: 1.2em;
        padding: 15px 40px;
    }
    #caja_cen button:hover{
        color: #fff;
        text-decoration: none;
        background-color: #2541A5;
    }
    #caja_cen button span{
        padding-top: 2px;
    }
    
    
    #caja_cen a{
        text-align: center;
        background-color: #3c67de;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid white;
        font-family: SourceSansProRegular;
        letter-spacing: 0.5px;
        font-size: 1.2em;
        padding: 15px 10px;
    }
    #caja_cen a:hover{
        color: #fff;
        text-decoration: none;
        background-color: #2541A5;
    }
    #caja_cen a span{
        padding-top: 2px;
    }
    .dropdown-menu{
        margin-left: 50%;
        margin-top: 0px;
        font-family: SourceSansProRegular;
        font-weight: bold;
        letter-spacing: 0.5px;
        font-size: 1.2em;
        border-radius: 5px;
        border: 1px solid white;
        background-color: #3c67de;
    }
    .dropdown ul li{
        padding: 10px 40px;
        cursor: pointer;
    }
    .dropdown ul li:hover{
        background-color: #2541A5;
    }
    
    
        /* ----------- Preguntas --------*/
    
    #preguntas{
        text-align: left;
        width: 100%;
        margin-top: 50px;
    }
    #preguntas ul{
        padding: 0px 20px;
        list-style: none;
    }
    #preguntas ul li{
        text-decoration: none;
    }
    #preguntas .pregunta{
        font-family: SourceSansProSemiBold;
        font-size: 19px;
        cursor: pointer;
        max-width: 80%;
    }
    
    #preguntas .respuesta{
        font-family: SourceSansProRegular;
        font-size: 16px;
        max-width: 90%;
    }
    #preguntas .ver_mas{
        webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        cursor: pointer;
        position: absolute;
        margin-top: -80px;
        right: 20px;
    }
    #preguntas #todas_preguntas{
        margin-left: 20px;
        margin-top: 20px;
        max-width: 80%;
        font-family: SourceSansProBold;
        font-size: 20px;
        cursor: pointer;
    }
    
    
    
    
    
    
    /* ---- CAJA ABAJO ----- */
    #caja_der{
        background-color: #fff;
        /*z-index: 3;*/
        padding: 50px 0;
        position: relative;
    }
    .subbox1{
        text-align: left;
        display: inline-block;
    }
    .subcaja{
        border-bottom: 1px solid #e5e5e5;
        padding: 0px 20px;
    }
    /* --- Texto azul ---- */
    #caja_der .subcaja .texto_h2{
        color:  #2541A5;
        font-family: SourceSansProBold;
        font-size: 18px;
        line-height: 1;
    }
    
    #caja_der .subcaja .sub_text{
        vertical-align: top;
    }
    #caja_der .subcaja img{
        display: inline-block;
        max-width: 45px;
        max-width: 50px;
        max-height: 50px;
        margin-right: 30px;
        margin-bottom: 70px;
    }
    #caja_der .subcaja .s_text{
        display: inline-block;
        margin-bottom: 5px;
        max-width: 60%;
    }
    #caja_der .subcaja h3{
        font-size: 22px;
        font-family: SourceSansProBold;
    }
    
    .subcaja2{
        display: inline-block;
        background-color: #F7F8FA;
        padding: 135px 0px;
        background: #F7F8FA;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        -ms-box-sizing: content-box;
        -o-box-sizing: content-box;
        box-sizing: content-box;
        font-size: 0;

    }
    #caja_der .subcaja2 .telefono{
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        width: 50%;
    }
    #caja_der .subcaja2 h2{
        font-size: 20px;
        font-family: SourceSansProBold;
    }
    #caja_der .subcaja2 h3{
        color: #2541A5;
        font-size: 16px;
        font-family: SourceSansProBold;
    }
    #caja_der .subcaja2 .whatsapp{
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        width: 50%;
    }
    #caja_der .subcaja2 .whatsapp h3{
        margin-top: 60px;
        color: #2541A5;
        font-size: 16px;
        font-family: SourceSansProBold;
    }
    
    /*---------------------------------------------------------------------*/
    /*------------------------------ FOOTER -------------------------------*/
    /*---------------------------------------------------------------------*/

    footer{
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
    }
    footer .container{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    footer h2{
        font-size: 17px;
        font-family: SourceSansProSemiBold;
    }
    
    .link_apps{
        text-align: center;
        width: 100%;
    }
    
    /*--- Boton 1 Footer ------- */
   
    footer .link_apps a{
        text-align: center;
        background-color: #2541A5;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-family: SourceSansProRegular;
        font-size: 1.1em;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 15px 20px;
        z-index: 10;
    }
    footer .link_apps a:hover{
        color: #fff;
        text-decoration: none;
    }
    footer .link_apps a img{
        width: 20px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    footer .link_apps a span{
        padding-top: 2px;
    }
    
    
    /*--- Footer Input ------- */
    footer form{
        text-align: center;
    }
    footer form input{
        margin-bottom: 15px;
    }
    footer form input{
        text-decoration: none;
        border-radius: 5px 0px 0px 5px;
        font-family: SourceSansProRegular;
        letter-spacing: 0.5px;
        font-size: normal;
        padding: 14px 20px;
        text-align: left;
        margin-right: -5px;
    }
    ::-webkit-input-placeholder {
    	color: #000;
    	margin-top:-50px;
    	
    }
    ::-moz-placeholder {
    	color: #000;
    	margin-top:-50px;
    }
    
    
    /*--- Boton 2 Footer ------- */
   
    footer form a{
        text-align: center;
        background-color: #3c67de;
        color: #fff;
        text-decoration: none;
        border-radius: 0px 5px 5px 0px;
        font-family: SourceSansProRegular;
        font-size: 1.1em;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 15px 20px;
        z-index: 10;
    }
    footer form a:hover{
        color: #fff;
        text-decoration: none;
    }
    footer form a span{
        padding-top: 2px;
    }
    
    /* --- Imagenes Gob ---- */
    #gob_1{
        display: none;
    }
    #foo_1{
        display: none;
    }
    #foo_2{
        display: block;
    }
    #gob_2{
        width: 150px;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .abajo ul{
        list-style: none;
        font-size: 16px;
        margin: 40px 0px 65px 0px;
        padding: 0px;
    }
    .abajo ul li{
        width: 49%;
        font-family: SourceSansProRegular;
        font-size: 1em;
        color: #686868;
        display: inline-block;
        margin: 15px 0px!important;
        padding: 0% 3%;
        cursor: pointer;
    }
    .abajo p{
        font-family: SourceSansProRegular;
        font-size: 1em;
        color: #686868;
    }
}